/Meta/

# RStudio left overs
.Rproj.user
.Rhistory
.RData
.Ruserdata

# compiled files
src/*.o
src/*.so
src/*.dll

# knitr and R markdown default cache directories
/*_cache/
/cache/

# files created by R markdown
*.utf8.md
*.knit.md
